<section class='side-menu side-menu--out text--white'>
  <div class="side-menu__header">
    <p>MENU</p>
    <button class='btn text--white' id='menuClose'><i data-feather='x'></i></button>
  </div>
  <p>Test Menu</p>
</section>