<section class='side-menu side-menu--out text--white'>
  <div class="side-menu__header">
    <h3 class='text--upper'>menu</h3>
    <button class='btn text--white' id='menuClose'><i data-feather='x'></i></button>
  </div>
  <a href="/" class='menu--link text--upper'>home</a>
  <a href="/calendar" class='menu--link text--upper'>race calendar</a>
  <a href="/gallery" class='menu--link text--upper'>gallery <span class='text--bold'>(empty)</span></a>
  <a href="/podcast" class='menu--link text--upper'>podcast <span class="text--bold">(empty)</span></a>
</section>