<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GTHub</title>
  <%- include ./partials/styles.ejs %>
</head>
<body>
  <main class='container_pagefill main-bg'>
    <nav class='navbar navbar__fix-top'>
      <button class='btn text--white' id='menuOpen'><i data-feather='menu'></i></button>
    </nav>
    <section class="container h-100 center-v">
      <div class="content text--white">
        <h1 class='title'>GTHub</h1>
        <p>The #1 Motorsports community!</p>
        <button class='btn btn--primary'>Join our Discord</button>
        <br />
        <br />
        <%if (!loggedIn) { %>
            <form action="/login" method="POST">
                <input aria-label="Username" type="text" name="username" placeholder="Username">
                <br />
                <input aria-label="Password" type="password" name="password" placeholder="Password">
                <br />
                <button type="submit" class="btn btn--primary">LOGIN</button>
            </form>
        <% } else { %>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn--primary">LOGOUT</button>
            </form>
        <% } %>
      </div>
    </section>
  </main>
  <%- include ./partials/menu.ejs %>
  <%- include ./partials/scripts.ejs %>
</body>
</html>
