@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:400,700");

body, html {
  margin: 0;
  padding: 0;
}

.h-0 {
  height: 0;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.text--white {
  color: #fff;
}

.text--primary {
  color: #517BE7;
}

.gray {
  background-color: #F7F7F7;
}

.text--bold {
  font-weight: 700;
}
.text--light {
  font-weight: 300;
}
.text--upper {
  text-transform: uppercase;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.26;
  margin: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.26;
  margin: 0;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.26;
  margin: 0;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.26;
  margin: 0;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.26;
  margin: 0;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.26;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 70vw;
  margin: 0 auto;
  box-sizing: border-box;
}
.container_pagefill {
  width: 100vw;
  height: 100vh;
}
.container--fluid {
  width: 100vw;
}

.btn {
  border: none;
  background: none;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--primary {
  background-color: #517BE7;
  color: #fff;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 3%;
  width: 100%;
  box-sizing: border-box;
}
.navbar__fix-top {
  position: fixed;
  top: 0;
}
.navbar--clear {
  background: none;
  display: flex;
}

.form--inline {
  display: flex;
  justify-content: space-between;
}
.form--field {
  display: flex;
  flex-flow: column nowrap;
}
.form--input {
  padding: 2% 3%;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0 1px 5px #00000030;
  border: none;
}

.side-menu {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #517BE7;
  box-shadow: 6px 6px 15px #00000030;
  padding: 1%;
  box-sizing: border-box;
  transform: translateX(0);
  will-change: transform;
  transition: transform 300ms ease-in-out;
}
.side-menu--out {
  box-shadow: none;
  transform: translateX(-100%);
  will-change: transform, box-shadow;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}
.side-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.menu--link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 3% 0;
}

.center-v {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.m-v-0 {
  margin: 0% 0;
}

.m-v-5 {
  margin: 5% 0;
}

.m-v-10 {
  margin: 10% 0;
}

.m-v-15 {
  margin: 15% 0;
}

.m-v-20 {
  margin: 20% 0;
}

.m-v-25 {
  margin: 25% 0;
}

.m-v-30 {
  margin: 30% 0;
}

.m-v-35 {
  margin: 35% 0;
}

.m-v-40 {
  margin: 40% 0;
}

.m-v-45 {
  margin: 45% 0;
}

.m-v-50 {
  margin: 50% 0;
}

.m-v-55 {
  margin: 55% 0;
}

.m-v-60 {
  margin: 60% 0;
}

.m-v-65 {
  margin: 65% 0;
}

.m-v-70 {
  margin: 70% 0;
}

.m-v-75 {
  margin: 75% 0;
}

.m-v-80 {
  margin: 80% 0;
}

.m-v-85 {
  margin: 85% 0;
}

.m-v-90 {
  margin: 90% 0;
}

.m-v-95 {
  margin: 95% 0;
}

.m-v-100 {
  margin: 100% 0;
}

.p-v-0 {
  padding: 0% 0;
}

.p-v-5 {
  padding: 2.5% 0;
}

.p-v-10 {
  padding: 5% 0;
}

.p-v-15 {
  padding: 7.5% 0;
}

.p-v-20 {
  padding: 10% 0;
}

.p-v-25 {
  padding: 12.5% 0;
}

.p-v-30 {
  padding: 15% 0;
}

.p-v-35 {
  padding: 17.5% 0;
}

.p-v-40 {
  padding: 20% 0;
}

.p-v-45 {
  padding: 22.5% 0;
}

.p-v-50 {
  padding: 25% 0;
}

.p-v-55 {
  padding: 27.5% 0;
}

.p-v-60 {
  padding: 30% 0;
}

.p-v-65 {
  padding: 32.5% 0;
}

.p-v-70 {
  padding: 35% 0;
}

.p-v-75 {
  padding: 37.5% 0;
}

.p-v-80 {
  padding: 40% 0;
}

.p-v-85 {
  padding: 42.5% 0;
}

.p-v-90 {
  padding: 45% 0;
}

.p-v-95 {
  padding: 47.5% 0;
}

.p-v-100 {
  padding: 50% 0;
}

.p-t-0 {
  padding-top: 0%;
}

.p-t-5 {
  padding-top: 5%;
}

.p-t-10 {
  padding-top: 10%;
}

.p-t-15 {
  padding-top: 15%;
}

.p-t-20 {
  padding-top: 20%;
}

.p-t-25 {
  padding-top: 25%;
}

.p-t-30 {
  padding-top: 30%;
}

.p-t-35 {
  padding-top: 35%;
}

.p-t-40 {
  padding-top: 40%;
}

.p-t-45 {
  padding-top: 45%;
}

.p-t-50 {
  padding-top: 50%;
}

.p-t-55 {
  padding-top: 55%;
}

.p-t-60 {
  padding-top: 60%;
}

.p-t-65 {
  padding-top: 65%;
}

.p-t-70 {
  padding-top: 70%;
}

.p-t-75 {
  padding-top: 75%;
}

.p-t-80 {
  padding-top: 80%;
}

.p-t-85 {
  padding-top: 85%;
}

.p-t-90 {
  padding-top: 90%;
}

.p-t-95 {
  padding-top: 95%;
}

.p-t-100 {
  padding-top: 100%;
}

.p-b-0 {
  padding-bottom: 0%;
}

.p-b-5 {
  padding-bottom: 5%;
}

.p-b-10 {
  padding-bottom: 10%;
}

.p-b-15 {
  padding-bottom: 15%;
}

.p-b-20 {
  padding-bottom: 20%;
}

.p-b-25 {
  padding-bottom: 25%;
}

.p-b-30 {
  padding-bottom: 30%;
}

.p-b-35 {
  padding-bottom: 35%;
}

.p-b-40 {
  padding-bottom: 40%;
}

.p-b-45 {
  padding-bottom: 45%;
}

.p-b-50 {
  padding-bottom: 50%;
}

.p-b-55 {
  padding-bottom: 55%;
}

.p-b-60 {
  padding-bottom: 60%;
}

.p-b-65 {
  padding-bottom: 65%;
}

.p-b-70 {
  padding-bottom: 70%;
}

.p-b-75 {
  padding-bottom: 75%;
}

.p-b-80 {
  padding-bottom: 80%;
}

.p-b-85 {
  padding-bottom: 85%;
}

.p-b-90 {
  padding-bottom: 90%;
}

.p-b-95 {
  padding-bottom: 95%;
}

.p-b-100 {
  padding-bottom: 100%;
}

.p-l-0 {
  padding-left: 0%;
}

.p-l-5 {
  padding-left: 5%;
}

.p-l-10 {
  padding-left: 10%;
}

.p-l-15 {
  padding-left: 15%;
}

.p-l-20 {
  padding-left: 20%;
}

.p-l-25 {
  padding-left: 25%;
}

.p-l-30 {
  padding-left: 30%;
}

.p-l-35 {
  padding-left: 35%;
}

.p-l-40 {
  padding-left: 40%;
}

.p-l-45 {
  padding-left: 45%;
}

.p-l-50 {
  padding-left: 50%;
}

.p-l-55 {
  padding-left: 55%;
}

.p-l-60 {
  padding-left: 60%;
}

.p-l-65 {
  padding-left: 65%;
}

.p-l-70 {
  padding-left: 70%;
}

.p-l-75 {
  padding-left: 75%;
}

.p-l-80 {
  padding-left: 80%;
}

.p-l-85 {
  padding-left: 85%;
}

.p-l-90 {
  padding-left: 90%;
}

.p-l-95 {
  padding-left: 95%;
}

.p-l-100 {
  padding-left: 100%;
}

.p-r-0 {
  padding-right: 0%;
}

.p-r-5 {
  padding-right: 5%;
}

.p-r-10 {
  padding-right: 10%;
}

.p-r-15 {
  padding-right: 15%;
}

.p-r-20 {
  padding-right: 20%;
}

.p-r-25 {
  padding-right: 25%;
}

.p-r-30 {
  padding-right: 30%;
}

.p-r-35 {
  padding-right: 35%;
}

.p-r-40 {
  padding-right: 40%;
}

.p-r-45 {
  padding-right: 45%;
}

.p-r-50 {
  padding-right: 50%;
}

.p-r-55 {
  padding-right: 55%;
}

.p-r-60 {
  padding-right: 60%;
}

.p-r-65 {
  padding-right: 65%;
}

.p-r-70 {
  padding-right: 70%;
}

.p-r-75 {
  padding-right: 75%;
}

.p-r-80 {
  padding-right: 80%;
}

.p-r-85 {
  padding-right: 85%;
}

.p-r-90 {
  padding-right: 90%;
}

.p-r-95 {
  padding-right: 95%;
}

.p-r-100 {
  padding-right: 100%;
}

.p-h-0 {
  padding: 0 0%;
}

.p-h-5 {
  padding: 0 2.5%;
}

.p-h-10 {
  padding: 0 5%;
}

.p-h-15 {
  padding: 0 7.5%;
}

.p-h-20 {
  padding: 0 10%;
}

.p-h-25 {
  padding: 0 12.5%;
}

.p-h-30 {
  padding: 0 15%;
}

.p-h-35 {
  padding: 0 17.5%;
}

.p-h-40 {
  padding: 0 20%;
}

.p-h-45 {
  padding: 0 22.5%;
}

.p-h-50 {
  padding: 0 25%;
}

.p-h-55 {
  padding: 0 27.5%;
}

.p-h-60 {
  padding: 0 30%;
}

.p-h-65 {
  padding: 0 32.5%;
}

.p-h-70 {
  padding: 0 35%;
}

.p-h-75 {
  padding: 0 37.5%;
}

.p-h-80 {
  padding: 0 40%;
}

.p-h-85 {
  padding: 0 42.5%;
}

.p-h-90 {
  padding: 0 45%;
}

.p-h-95 {
  padding: 0 47.5%;
}

.p-h-100 {
  padding: 0 50%;
}

.main-bg {
  background-image: url("../assets/website.jpg");
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=main.css.map */
