<h3>EventSession</h3>
<form action="/calendar/eventsession/create" method="POST">
    <input aria-label="Name" type="text" name="name" placeholder="Name" required>
    <br />
    <input aria-label="Starttime" type="datetime-local" name="starttime" placeholder="Starttime" required>
    <br />
    <input aria-label="Endtime" type="datetime-local" name="endtime" placeholder="Endtime" required>
    <br />
    <select class="form-control" id="event" name="event" required>
        <option></option>
        <% events.forEach(event => { %>
        <option value="<%= event.id %>"> <%= event.name %>
        <% }) %>
        </option>
    </select>
    <br />
    <select class="form-control" id="series" name="series" required>
        <option></option>
        <% series.forEach(s => { %>
        <option value="<%= s.id %>"> <%= s.name %>
        <% }) %>
        </option>
    </select>
    <br />
    <button type="submit" class="btn btn--primary">CREATE</button>
</form>
