<h3>Tracks</h3>
<ul>
	<% tracks.forEach(track => { %>
		<li>
		  <b><%= track.name %></b> (<%= track.location %>, <%= track.length %>km)
		</li>
	<% }); %>
</ul>
<form action="/calendar/track/create" method="POST">
	<input aria-label="Name" type="text" name="name" placeholder="Name" required>
	<br />
	<input aria-label="Location" type="text" name="location" placeholder="Location" required>
	<br />
	<input aria-label="Length" type="number" name="length" placeholder="Length" step="0.001" required>
	<br />
	<input aria-label="Map" type="text" name="map" placeholder="Map">
	<br />
	<button type="submit" class="btn btn--primary">CREATE</button>
</form>
