@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'Code Pro';
	font-weight: 100 400;
	src: url('~/assets/fonts/Code Pro LC.otf') format('opentype');
}

@font-face {
	font-family: 'Code Pro';
	font-weight: 500 900;
	src: url('~/assets/fonts/Code Pro Bold LC.otf') format('opentype');
}
