@import 'variables';

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

.page-headline {
	text-align: center;
	color: $white;
	font-size: 3em;
	font-weight: bold;
}

.p-component, body {
	color: $white;
	font-family: $default-font !important;
}
