.side-menu {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: $primary-color;
  box-shadow: 6px 6px 15px #00000030;
  padding: 1%;
  box-sizing: border-box;

  transform: translateX(0);
  will-change: transform;
  transition: transform 300ms ease-in-out;
  &--out {
    box-shadow: none;
    transform: translateX(-100%);
    will-change: transform, box-shadow;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
}

.menu--link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 3% 0;
}