// Define primary colours here
@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", (
	primary: #ed6400, // The primary color of your application
	accent: md-get-palette-color(red, A200), // The accent or secondary color
	theme: dark // This can be dark or light
));
@import "~vue-material/dist/theme/all"; // Apply the theme


// Layout
@import 'layout/align';

// Components
@import 'components/button';
