@import '../abstracts/variables';

.btn {
	border-radius: 8px;
	font-weight: bold;
	@apply shadow-sm;

	&-primary {
		transition: all 0.2s ease-in-out;
		background: $blue;
		@apply text-white;

		&:hover {
			transition: all 0.2s ease-in-out;
			background: darken($blue, 10%);
			@apply shadow-md;
		}
	}

	&-light {
		@apply bg-gray-300 text-gray-700;
	}

	&-link {
		box-shadow: none;
	}
}

.nav-btn {
	margin: 1em 0;
	border-radius: 10px;
	cursor: pointer;
	color: $white;
	font-size: 0.8em;
}

.nav-btn-secondary {
	padding: 0.5em;
}
