@import '../abstracts/variables';

.btn {
	border-radius: 8px;
	font-weight: bold;
	@apply shadow-sm text-gray-800;

	&-primary {
		background: $blue;
	}

	&-light {
		@apply bg-gray-300 text-gray-700;
	}

	&-link {
		box-shadow: none;

		&:hover {
			@apply text-gth-blue;
		}
	}
}

.nav-btn {
	margin: 1em 0;
	border-radius: 10px;
	cursor: pointer;
	color: $white;
	font-size: 0.8em;
}

.nav-btn-secondary {
	padding: 0.5em;
}
