body {
	background-size: cover;
	background: linear-gradient(rgba(28, 36, 43, 0.92), rgba(28, 36, 43, 0.92)), url('~assets/img/SiteBackgroundWeb.jpg') no-repeat fixed center;
	padding: 0 1em;
}

.full-width {
	width: 100%;
}

.width-50 {
	width: 50%;
}