@import '../abstracts/variables';

.gradient-line {
	@apply my-2 w-3/4 h-0.5;
	background-image: $default-gradient;
}

.bg-gth-blue {
	background: $blue;

	&-200 {
		background: lighten($blue, 10%);
	}

	&-800 {
		background: darken($blue, 30%);
	}

	&-900 {
		background: darken($blue, 40%);
	}
}

.text-capitalize {
	&::first-letter {
		text-transform: uppercase;
	}
}
