@import '../abstracts/fonts';

.index-container {
	margin-top: 5em;
}

.index-headline {
    font-family: $default-family;
    font-weight: 900;
    font-style: italic;
    font-size: 8em;
    color: #F7F7F7;
    padding: .5em 0;
}

.index-subhead {
    font-family: $default-family;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 2;
    margin-bottom: 3em;
}
