@mixin genMargin($direction) {
  $steps: 5%;
  @for $i from 0 through 20 {
    .m-#{$direction}-#{$i*5} {
      @if($direction == 't') {
        margin-top: $i*$steps;
      }
      @if($direction == 'b') {
        margin-bottom: $i*$steps;
      }
      @if($direction == 'l') {
        margin-left: $i*$steps;
      }
      @if($direction == 'r') {
        margin-right: $i*$steps;
      }
      @if($direction == 'v') {
        margin: $i*$steps 0;
      }
      @if($direction == 'h') {
        margin: 0 $i*$steps;
      }
    }
  }
}

@include genMargin('v');