@mixin genPadding($direction) {
  $steps: 5%;
  @for $i from 0 through 20 {
    .p-#{$direction}-#{$i*5} {
      @if($direction == 't') {
        padding-top: $i*$steps;
      }
      @if($direction == 'b') {
        padding-bottom: $i*$steps;
      }
      @if($direction == 'l') {
        padding-left: $i*$steps;
      }
      @if($direction == 'r') {
        padding-right: $i*$steps;
      }
      @if($direction == 'v') {
        padding: ($i*$steps)/2 0;
      }
      @if($direction == 'h') {
        padding: 0 ($i*$steps)/2;
      }
    }
  }
}

@include genPadding('v');
@include genPadding('t');
@include genPadding('b');
@include genPadding('l');
@include genPadding('r');
@include genPadding('h');