$header-font-family: 'Open Sans', sans-serif;
$header-font-size: 36px;
$header-font-weight: 700;
$header-line-height: 1.26;

$body-font-family: 'Montserrat', sans-serif;
$body-font-size: 16px;
$body-font-weight: 400;

$primary-color: #517BE7;